@import "tailwindcss";

@theme inline {
  --color-dark-base: #192E33;
  --color-primary-accent: #FF9940;
  --color-light-accent-blue: #80C3ED;
  --color-medium-accent-blue: #3D7BA3;
  --color-light-bg-white: #E4F7FE;
  --color-pale-peach: #FCC98A;
}

body {
  background-color: var(--color-dark-base);
  color: var(--color-light-bg-white);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
